* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(230, 229, 229);
  margin: 0 auto;
  width: 85vw;
  max-width: 1200px;
}

.container {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-family: 'Raleway', sans-serif;
  margin: 2rem;
}

.underline {
  border: 2px solid rgb(73, 73, 209);
  width: 10rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.candidate {
  border: 1px solid white;
  background-color: white;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
  display: grid;
  text-align: center;
}
.name,
.vote-count .vote-btn {
  margin-bottom: 1rem;
  display: block;
}
p {
  margin: 1rem;
}
.vote-btn {
  background-color: rgb(48, 111, 230);
  border-radius: 10%;
  padding: 5px 10px;
  border-style: none;
  color: white;
  width: fit-content;
  margin: 0 auto;
}
.vote-count {
  margin-inline: 3px;
}
.reset {
  border-radius: 10%;
  padding: 5px 10px;
  border: 1px solid rgb(48, 111, 230);
  color: rgb(48, 111, 230);
  margin-top: 2rem;
}

/** Hoover */

.reset:hover {
  background-color: rgb(48, 111, 230);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.vote-btn:hover {
  background-color: rgb(31, 85, 185);
  transition: 0.5s;
  cursor: pointer;
}
